.about-us__list {
  .list-reset;
}

.about-us__item {
  &--eco {
    content: "";
    display: block;

    background: url(../img/about-us/icon-1.svg);

    width: 33px;
    height: 38px;
  }

  &--money {
    content: "";
    display: block;

    background: url(../img/about-us/icon-2.svg);

    width: 47px;
    height: 27px;
  }

  &--likes {
    content: "";
    display: block;

    background: url(../img/about-us/icon-3.svg);

    width: 34px;
    height: 27px;
  }

  &--tenderness {
    content: "";
    display: block;

    background: url(../img/about-us/icon-4.svg);

    width: 35px;
    height: 34px;
  }

  &--support {
    content: "";
    display: block;

    background: url(../img/about-us/icon-5.svg);

    width: 55px;
    height: 23px;
  }

  &--gift {
    content: "";
    display: block;

    background: url(../img/about-us/icon-6.svg);

    width: 33px;
    height: 32px;
  }
}
