.crocheted-baskets {
  padding: 37px 30px 0;
}

.crocheted-baskets__title {
  .indent-reset;
  margin-bottom: 10px;
}

.crocheted-baskets__subtitle {
  .indent-reset;
  margin-bottom: 20px;

  text-transform: uppercase;
  color: var(--color-3);
  font: @font-crocheted-baskets-subtitle-mobile;
}

.crocheted-baskets__text {
  .indent-reset;

  font: @font-text-large-mobile;
  color: var(--color-5);
}
