.cute-things {
  padding-top: 75px;

  background: url("../img/hero-mobile.jpeg") no-repeat;
  background-size: cover;
}

.cute-things__title {
  .indent-reset;
  margin: 0 auto;

  text-align: center;

  width: 260px;
}
