.main-footer {
    padding: 70px 0 0;
}

.main-footer__html-academy-link {
    .link-reset;
    padding: 14px 69px 25px;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    font: @font-main-footer-logo-mobile;

    width: 100%;
}

.main-footer__html-academy-text {
    display: block;
}