.main-nav {
  align-self: flex-start;
}

.main-nav__toggle {
  position: relative;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 20px;
  height: 14px;

  &::after {
    content: "";
    display: block;

    width: 100%;
    height: 2px;

    background-color: var(--background-color-1);

    box-shadow: 0 6px 0 0 var(--background-color-1),
      0 12px 0 0 var(--background-color-1);

    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}


.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 20px;

  &::after,
  &::before {
    content: '';
    display: block;

    width: 21px;
    height: 2px;

    background-color: var(--background-color-1);

    position: absolute;
    top: 8px;
    left: -1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    box-shadow: none;
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  .list-reset;
}

.main-nav__link {
  .link-reset;

  // font: 700 17px/0.70 'Open Sans', Arial, sans
}