.reviews {
  padding: 0 30px 0;
}

.reviews__title {
  .indent-reset;
  margin-bottom: 19px;
}

.reviews__text {
  .indent-reset;
  margin-bottom: 30px;

  font: @font-reviews-text-mobile;
  color: var(--color-5);
}

.reviews__person-title {
  .indent-reset;

  font: @font-reviews-person-title-mobile;
}

.reviews__person-email {
  .indent-reset;

  font: @font-reviews-person-email-mobile;
}

.rewviews__button-write {
  padding: 16px 64px;

  width: 100%;

  text-transform: uppercase;
}
