.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 32px;

  width: 43%;
}

.social__link {
  .link-reset;

  display: inline-block;

  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--color-11);
  }
}
