.social {
    .list-reset;
    margin: 0 auto 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

    width: 43%;
}

.social__link {
    .link-reset;

    display: inline-block;

    transition: color 300ms ease-in-out;

    &:hover {
        color: var(--color-11);
    }

}