.social {
    .list-reset;
    margin: 0 auto 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

    width: 42%;
}

.social__link {
    .link-reset;
}