:root {
  /* colors */
  --color-1: #000000;
  --color-2: #ffffff;
  --color-3: #63d1bb;
  --color-4: #56c3b2;
  --color-5: #444444;
  --color-6: #f1f1f1;
  --color-7: #ececec;
  --color-8: #f1f1f1;
  --color-9: #62d1ba;
  --color-10: #ececec;
  --color-11: #46c1ae;
  --color-12: #f9f9f9;
  --color-13: #59d5bc;
  --color-14: #46c1ae;

  --background-color-1: #000000;
  --background-color-2: #ffffff;
  --background-color-3: #63d1bb;
  --background-color-4: #56c3b2;
  --background-color-5: #444444;
  --background-color-6: #f1f1f1;
  --background-color-7: #ececec;
  --background-color-8: #f1f1f1;
  --background-color-9: #62d1ba;
  --background-color-10: #ececec;
  --background-color-11: #46c1ae;
  --background-color-12: #f9f9f9;
  --background-color-13: #59d5bc;
  --background-color-14: #46c1ae;
}



/* devices-width */
@mobile-width: 320px;
@mobile-width-only: 767px;

@tablet-width: 768px;
@tablet-width-only: 1149px;

@desktop-width: 1150px;



/* mobile-fonts */
@font-title-large-mobile: 700 2.7rem/1.1 "Open Sans", Arial, sans-serif;
@font-title-medium-mobile: 700 2.5rem/0.83 "Open Sans", Arial, sans-serif;


@font-text-large-mobile: 400 1.5rem/1.6 "Open Sans", Arial, sans-serif;


@font-button-primary-mobile: 700 1.8rem/1.11 "Open Sans", Arial, sans-serif;


@main-nav-mobile: 700 1.7rem/0.7 "Open Sans", Arial, sans-serif;

@font-cute-things-link-mobile: 700 1.9rem/1.25 "Open Sans", Arial, sans-serif;

@font-crocheted-baskets-subtitle-mobile: 700 1.7rem/0.85 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-large-mobile: 400 1.5rem/1.6 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-medium-mobile: 400 1.5rem/1.33 "Open Sans", Arial,
  sans-serif;
@font-crocheted-basktets-price-mobile: 700 1.7rem/1.41 "Open Sans", Arial,
  sans-serif;

@font-about-us-text-mobile: 700 1.7rem/1.17 "Open Sans", Arial, sans-serif;

@font-reviews-text-mobile: 400 1.5rem/2 "Open Sans", Arial, sans-serif;
@font-reviews-person-title-mobile: 700 1.7rem/1.74 "Open Sans", Arial,

  sans-serif;
@font-reviews-person-email-mobile: 400 1.7rem/1.76 "Open Sans", Arial,
  sans-serif;




/* tablet-fonts */
@font-title-large-tablet: 700 4.3rem/0.86 "Open Sans", Arial, sans-serif;
@font-title-medium-tablet: 700 4.3rem/0.86 "Open Sans", Arial, sans-serif;


@font-text-large-tablet: 400 1.7rem/1.76 "Open Sans", Arial, sans-serif;


@font-button-primary-tablet: 700 1.7rem/1.17 "Open Sans", Arial, sans-serif;


@main-nav-tablet: 700 1.5rem/0.62 "Open Sans", Arial, sans-serif;

@font-cute-things-link-tablet: 700 2rem/0.66 "Open Sans", Arial, sans-serif;

@font-crocheted-baskets-subtitle-tablet: 700 1.7rem/1 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-large-tablet: 400 1.7rem/1.76 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-medium-tablet: 400 1.5rem/1.33 "Open Sans", Arial,
  sans-serif;
@font-crocheted-basktets-price-tablet: 700 2rem/1.2 "Open Sans", Arial,
  sans-serif;

@font-about-us-text-tablet: 700 2rem/1.1 "Open Sans", Arial, sans-serif;

@font-reviews-text-tablet: 400 1.7rem/1.76 "Open Sans", Arial, sans-serif;
@font-reviews-person-title-tablet: 700 1.8rem/1.73 "Open Sans", Arial,
  sans-serif;
@font-reviews-person-email-tablet: 400 1.7rem/1.76 "Open Sans", Arial,
  sans-serif;




/* desktop-fonts */
@font-title-large-desktop: 700 5.3rem/0.92 "Open Sans", Arial, sans-serif;
@font-title-medium-desktop: 700 5.3rem/0.92 "Open Sans", Arial, sans-serif;


@font-text-large-desktop: 400 1.7rem/1.76 "Open Sans", Arial, sans-serif;


@font-button-primary-desktop: 700 1.7rem/1.17 "Open Sans", Arial, sans-serif;


@main-nav-desktop: 700 1.5rem/0.62 "Open Sans", Arial, sans-serif;

@font-cute-things-link-desktop: 700 2rem/0.66 "Open Sans", Arial, sans-serif;

@font-crocheted-baskets-subtitle-desktop: 700 1.7rem/1 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-large-desktop: 400 1.7rem/1.76 "Open Sans", Arial,
  sans-serif;
@font-crocheted-baskets-text-medium-desktop: 400 1.5rem/1.33 "Open Sans", Arial,
  sans-serif;
@font-crocheted-basktets-price-desktop: 700 2rem/1.2 "Open Sans", Arial,
  sans-serif;

@font-about-us-text-desktop: 700 2rem/1.1 "Open Sans", Arial, sans-serif;

@font-reviews-text-desktop: 400 1.7rem/1.76 "Open Sans", Arial, sans-serif;
@font-reviews-person-title-desktop: 700 1.7rem/1.41 "Open Sans", Arial,
  sans-serif;
@font-reviews-person-email-desktop: 400 1.7rem/1.76 "Open Sans", Arial,
  sans-serif;
